<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.streambase.sb.studio.StreamBaseLaunchConfigurationType">
<stringAttribute key="applicationPath" value="/MarketDataFIXBMF/QAMDFIXBMF.sbapp"/>
<booleanAttribute key="isLocal" value="true"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/MarketDataFIXBMF/QAMDFIXBMF.sbapp"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.debug.core.capture_output" value="true"/>
<booleanAttribute key="org.eclipse.debug.ui.ATTR_LAUNCH_IN_BACKGROUND" value="false"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="MarketDataFIXBMF"/>
</launchConfiguration>
