<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TickerDLL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <TickerDLL.Properties.Settings>
            <setting name="connString" serializeAs="String">
                <value>Data Source=10.10.15.111;User Id=sa;Initial Catalog=NESTDB;Password=101010;Pooling=false;Connection lifetime=120;MultipleActiveResultSets=True</value>
            </setting>
        </TickerDLL.Properties.Settings>
    </applicationSettings>
</configuration>