<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FeedFutura.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Nest_XML.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <FeedFutura.Properties.Settings>
            <setting name="FeedFutura_GetExecutions_WSIntegrador" serializeAs="String">
                <value>http://189.39.7.92:8080/WSintegrador.asmx</value>
            </setting>
        </FeedFutura.Properties.Settings>
        <Nest_XML.Properties.Settings>
            <setting name="FeedXMLFator_GetExecutions_WSIntegrador" serializeAs="String">
                <value>http://189.39.7.92:8080/WSintegrador.asmx</value>
            </setting>
        </Nest_XML.Properties.Settings>
    </applicationSettings>
</configuration>