<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Feed_Bloomberg.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="FeederNest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Feed_Bloomberg.Properties.Settings>
            <setting name="NestSQL" serializeAs="String">
                <value>Server=NESTSRV02;Uid=NestUpdate;Pwd=ParkHill43;</value>
            </setting>
            <setting name="LogPath" serializeAs="String">
                <value>\\nestsrv03\nest\TI\NESTSoft\Log\FUTURO_Log_CSharp.txt</value>
            </setting>
            <setting name="LogStatus" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CheckInTimer" serializeAs="String">
                <value>3000</value>
            </setting>
        </Feed_Bloomberg.Properties.Settings>
        <FeederNest.Properties.Settings>
            <setting name="NestSQL" serializeAs="String">
                <value>Server=NESTSRV02;Uid=NestUpdate;Pwd=ParkHill43;</value>
            </setting>
            <setting name="LogPath" serializeAs="String">
                <value>\\nestsrv03\Public\Projetos\Log\FUTURO_Log_CSharp.txt</value>
            </setting>
            <setting name="LogStatus" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CheckInTimer" serializeAs="String">
                <value>10000</value>
            </setting>
        </FeederNest.Properties.Settings>
    </userSettings>
</configuration>