USE [NESTRT]
GO
/****** Object:  UserDefinedFunction [dbo].[FCN_Posicao_Atual]    Script Date: 10/26/2010 09:35:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE Function [dbo].[FCN_Posicao_Atual]()
RETURNS table
 AS  
Return
(
SELECT [Id Position]
	,[Id Portfolio]
	,[Portfolio]
	,[Id Ticker]
	,[Ticker]
	,[Description]
	,[Id Price Table]
	,[Price Table]
	,[zId Strategy]
	,[zStrategy]
	,[zId Sub Strategy]
	,[zSub Strategy]
	,[Last Position]
	,[Close_Date]
	,[Date Now]
	,[Position]
	,[Lot Size]
	,[Cost Close]
	,[Cost Close pC]
	,[Last]
	,[Last pC]
	,[Close]
	,[Close pC]
	,[NAV]
	,[NAV pC]
	,[Cash]
	,[Cash/NAV]
	,[Brokerage]
	,[Delta Cash]
	,[Delta/NAV]
	,[Security Currency]
	,[Id Currency Ticker]
	,[Delta]
	,[Instrument]
	,[Asset Class]
	,[Sub Industry]
	,[Industry]
	,[Industry Group]
	,[Sector]
	,[Underlying Country]
	,[Nest Sector]
	,[Portfolio Currency]
	,[Asset uC]
	,[Asset pC]
	,[Asset P/L pC]
	,[Currency Chg]
	,[Currency P/L]
	,[Total P/L]
	,[Spot USD]
	,[Spot]
	,[Expiration]
	,[P/L %]
	,[Gross]
	,[Long]
	,[Short]
	,[Contribution pC]
	,[Id Underlying]
	,[Underlying]
	,[Underlying Acount]
	,[Notional]
	,[Notional Close]
	,[Closed_PL]
	,[Display Last ]
	,[Display Last pC]
	,[Display Cost Close]
	,[Display Cost Close pC]
	,[BRL]
	,[BRL/NAV]
	,[Long Delta]
	,[Short Delta]
	,[Gross Delta]
	,[Last Calc]
	,[Last Cost Close Calc]
	,[Realized]
	,[Asset P/L uC]
	,[Contribution uC]
	,[Delta Quantity]
	,[Volatility]
	,[Vol Flag]
	,[Vol Date]
	,[Strike]
	,[Rate Year]
	,[Rate Period]
	,[Days to Expiration]
	,[Time to Expiration]
	,[Underlying Last]
	,[Gamma]
	,[Vega]
	,[Theta]
	,[Rho]
	,[Cash Premium]
	,[Calc Error Flag]
	,[Model Price]
	,[Gamma Quantity]
	,[Gamma Cash]
	,[Gamma/NAV]
	,[Display Close]
	,[Display Close pC]
	,[Dif Contrib]
	,[Price Date]
	,[Id Instrument]
	,[Id Asset Class]
	,[Option Type]
	,[Initial Position]
	,[Quantity Bought]
	,[Quantity Sold]
	,[Spot USD Close]
	,[Spot Close]
	,[Cash uC]
	,[Last pC Admin]
	,[Close pC Admin]
	,[Cost Close pC Admin]
	,[Total P/L Admin]
	,[Realized Admin]
	,[Asset P/L pC Admin]
	,[Currency P/L Admin]
	,[Contribution pC Admin]
	,[Last Admin]
	,[Close Admin]
	,[Cost Close Admin]
	,[Id Administrator]
	,[Id Base Underlying]
	,[Base Underlying]
	,[Id Base Underlying Currency]
	,[Base Underlying Currency]
	,[Bid]
	,[Ask]
	,[% to Bid/Ask]
	,[Id Source Last]
	,[Source Last]
	,[Flag Last]
	,[Id Source Last Admin]
	,[Source Last Admin]
	,[Flag Last Admin]
	,[Id Source Close]
	,[Source Close]
	,[Flag Close Admin]
	,[UpdTime Last]
	,[UpdTime last Admin]
	,[Asset uC Admin]
	,[Theta/NAV]
	,[Id Source Close Admin]
	,[Source Close Admin]
	,[Prev Cash uC]
	,[Prev Cash uC Admin]
	,[Current NAV pC]
	,[Option Intrinsic]
	,[Option TV]
	,[Option Intrinsic Cash pC]
	,[Option TV Cash pC]
	,[Cash uC Admin]
	,[Underlying Liquidity]
	,[Days to Liquidity]
	,[Duration]
	,[Duration Date]
	,[10Y Equiv DNAV]
	,[Asset PL uC Admin]
	,[Delta/Book]
	,[Contribution pC Book]
	,[Long Book]
	,[Short Book]
	,[Gross Book]
	,CX
	,CXBOOK
	,[Id Book]
	,Book	
	,[Id Sub Portfolio]	
	,[Sub Portfolio]
	,[New Id Strategy]	
	,[New Strategy]	
	,[New Id Sub Strategy]
	,[New Sub Strategy]	
	,[Id Section]	
	,Section
	,[Gross uC]	
	,[Position All Portfolios]
	,[Position Ex-FIA]
	,[Book NAV]	
	,[Market Cap]
	,[6m Av Volume]
	,[Asset Contribution]
	,[Currency Contribution]
	,[Asset Book Contribution]
	,[Currency Book Contribution]
	,[Prev Asset P/L]
	,[Prev Asset P/L Admin]
	,[Cash FLow]
	,[Trade Flow]
	,[Id Account]
	,[Id Ticker Cash]
	,[Strategy %]	
	,[Flag Calc Cost]
	,[Flag Calc Last]
	,[Loaned Out]
	,[Loaned In]
	,[Loan Cost]
	,[Foward Cost]
	,[Loaned Rate In]
	,[Loaned Rate Out]
	,[Position D-3]
	,[Net Quantity Loan]
	,[Loan Rate In CBLC]
	,[Loan Rate Out CBLC]
	,[Loan AVG Rate]
	,[Cash Admin]
	,[Loan MKT Total]
	,[Loan Potential Gain]
	,[Loan Potential Book Contribution]
	,[Loan Marginal Gain]
	,[Loan Marginal Book Contribution]
	,[Loan Book Contribution]
	,[Side]
  FROM [NESTRT].[dbo].[Tb000_Posicao_Atual] (nolock)
)





