USE [NESTRT]
GO
/****** Object:  Table [dbo].[Tb000_Posicao_Atual]    Script Date: 10/26/2010 09:31:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tb000_Posicao_Atual](
	[Id Position] [numeric](18, 0) IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Id Portfolio] [int] NOT NULL,
	[Portfolio] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Id Ticker] [int] NOT NULL,
	[Ticker] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Description] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Id Price Table] [int] NULL,
	[Price Table] [varchar](25) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ZId Strategy] [int] NULL,
	[ZStrategy] [varchar](25) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ZId Sub Strategy] [int] NULL,
	[ZSub Strategy] [varchar](25) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Last Position] [datetime] NOT NULL CONSTRAINT [DF_Tb000_Posicao_Atual_Last Position]  DEFAULT (((1)/(1))/(1900)),
	[Close_Date] [datetime] NOT NULL CONSTRAINT [DF_Tb000_Posicao_Atual_Close_Date]  DEFAULT (((1)/(1))/(1900)),
	[Date Now] [datetime] NOT NULL CONSTRAINT [DF_Tb000_Posicao_Atual_Date Now]  DEFAULT (((1)/(1))/(1900)),
	[Position] [float] NOT NULL CONSTRAINT [DF_Tb000_Posicao_Atual_Position]  DEFAULT ((0)),
	[Lot Size] [float] NOT NULL CONSTRAINT [DF_Tb000_Posicao_Atual_Lot Size]  DEFAULT ((0)),
	[Cost Close] [float] NOT NULL CONSTRAINT [DF_Tb000_Posicao_Atual_Cost Close]  DEFAULT ((0)),
	[Cost Close pC] [float] NOT NULL CONSTRAINT [DF_Tb000_Posicao_Atual_Cost Close pC]  DEFAULT ((0)),
	[Last] [float] NOT NULL CONSTRAINT [DF_Tb000_Posicao_Atual_Last]  DEFAULT ((0)),
	[Last pC] [float] NOT NULL CONSTRAINT [DF_Tb000_Posicao_Atual_Last pC]  DEFAULT ((0)),
	[Close] [float] NOT NULL CONSTRAINT [DF_Tb000_Posicao_Atual_Close]  DEFAULT ((0)),
	[Close pC] [float] NOT NULL CONSTRAINT [DF_Tb000_Posicao_Atual_Close pC]  DEFAULT ((0)),
	[NAV] [float] NOT NULL CONSTRAINT [DF_Tb000_Posicao_Atual_NAV]  DEFAULT ((0)),
	[NAV pC] [float] NOT NULL CONSTRAINT [DF_Tb000_Posicao_Atual_NAV pC]  DEFAULT ((0)),
	[Cash] [float] NOT NULL CONSTRAINT [DF_Tb000_Posicao_Atual_Cash]  DEFAULT ((0)),
	[Cash/NAV] [float] NOT NULL CONSTRAINT [DF_Tb000_Posicao_Atual_Cash/NAV]  DEFAULT ((0)),
	[Brokerage] [float] NOT NULL CONSTRAINT [DF_Tb000_Posicao_Atual_Brokerage]  DEFAULT ((0)),
	[Delta Cash] [float] NOT NULL CONSTRAINT [DF_Tb000_Posicao_Atual_Delta Cash]  DEFAULT ((0)),
	[Delta/NAV] [float] NOT NULL CONSTRAINT [DF_Tb000_Posicao_Atual_Delta/NAV]  DEFAULT ((0)),
	[Security Currency] [varchar](8) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Id Currency Ticker] [int] NULL,
	[Delta] [float] NOT NULL CONSTRAINT [DF_Tb000_Posicao_Atual_Delta]  DEFAULT ((0)),
	[Instrument] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Asset Class] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Sub Industry] [ntext] COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Industry] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Industry Group] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Sector] [varchar](40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Underlying Country] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Nest Sector] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Portfolio Currency] [int] NULL,
	[Asset uC] [float] NOT NULL CONSTRAINT [DF_Tb000_Posicao_Atual_Asset uC]  DEFAULT ((0)),
	[Asset pC] [float] NOT NULL CONSTRAINT [DF_Tb000_Posicao_Atual_Asset pC]  DEFAULT ((0)),
	[Asset P/L pC] [float] NOT NULL CONSTRAINT [DF_Tb000_Posicao_Atual_Asset P/L pC]  DEFAULT ((0)),
	[Currency Chg] [float] NOT NULL CONSTRAINT [DF_Tb000_Posicao_Atual_Currency Chg]  DEFAULT ((0)),
	[Currency P/L] [float] NOT NULL CONSTRAINT [DF_Tb000_Posicao_Atual_Currency P/L]  DEFAULT ((0)),
	[Total P/L] [float] NOT NULL CONSTRAINT [DF_Tb000_Posicao_Atual_Total P/L]  DEFAULT ((0)),
	[Spot USD] [float] NOT NULL CONSTRAINT [DF_Tb000_Posicao_Atual_Spot USD]  DEFAULT ((0)),
	[Spot] [float] NOT NULL CONSTRAINT [DF_Tb000_Posicao_Atual_Spot]  DEFAULT ((0)),
	[Expiration] [datetime] NULL,
	[P/L %] [float] NOT NULL CONSTRAINT [DF_Tb000_Posicao_Atual_P/L %]  DEFAULT ((0)),
	[Gross] [float] NOT NULL CONSTRAINT [DF_Tb000_Posicao_Atual_Gross]  DEFAULT ((0)),
	[Long] [float] NOT NULL CONSTRAINT [DF_Tb000_Posicao_Atual_Long]  DEFAULT ((0)),
	[Short] [float] NOT NULL CONSTRAINT [DF_Tb000_Posicao_Atual_Short]  DEFAULT ((0)),
	[Contribution pC] [float] NOT NULL CONSTRAINT [DF_Tb000_Posicao_Atual_Contribution pC]  DEFAULT ((0)),
	[Id Underlying] [int] NULL,
	[Underlying] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Underlying Acount] [int] NULL,
	[Notional] [float] NOT NULL CONSTRAINT [DF_Tb000_Posicao_Atual_Notional]  DEFAULT ((0)),
	[Notional Close] [float] NOT NULL CONSTRAINT [DF_Tb000_Posicao_Atual_Notional Close]  DEFAULT ((0)),
	[Closed_PL] [float] NOT NULL CONSTRAINT [DF_Tb000_Posicao_Atual_Closed_PL]  DEFAULT ((0)),
	[Display Last ] [float] NOT NULL CONSTRAINT [DF_Tb000_Posicao_Atual_Display Last]  DEFAULT ((0)),
	[Display Last pC] [float] NOT NULL CONSTRAINT [DF_Tb000_Posicao_Atual_Display Last pC]  DEFAULT ((0)),
	[Display Cost Close] [float] NOT NULL CONSTRAINT [DF_Tb000_Posicao_Atual_Display Cost Close]  DEFAULT ((0)),
	[Display Cost Close pC] [float] NOT NULL CONSTRAINT [DF_Tb000_Posicao_Atual_Display Cost Close pC]  DEFAULT ((0)),
	[BRL] [float] NOT NULL CONSTRAINT [DF_Tb000_Posicao_Atual_BRL]  DEFAULT ((0)),
	[BRL/NAV] [float] NOT NULL CONSTRAINT [DF_Tb000_Posicao_Atual_BRL/NAV]  DEFAULT ((0)),
	[Long Delta] [float] NOT NULL CONSTRAINT [DF_Tb000_Posicao_Atual_Delta Long]  DEFAULT ((0)),
	[Short Delta] [float] NOT NULL CONSTRAINT [DF_Tb000_Posicao_Atual_Delta Short]  DEFAULT ((0)),
	[Gross Delta] [float] NOT NULL CONSTRAINT [DF_Tb000_Posicao_Atual_Delta Gross]  DEFAULT ((0)),
	[Last Calc] [datetime] NOT NULL CONSTRAINT [DF_Tb000_Posicao_Atual_Last Calc]  DEFAULT (((1)/(1))/(1900)),
	[Last Cost Close Calc] [datetime] NOT NULL CONSTRAINT [DF_Tb000_Posicao_Atual_Last Cost Close Calc]  DEFAULT (((1)/(1))/(1900)),
	[Realized] [float] NOT NULL CONSTRAINT [DF_Tb000_Posicao_Atual_Realized]  DEFAULT ((0)),
	[Asset P/L uC] [float] NOT NULL CONSTRAINT [DF_Tb000_Posicao_Atual_Asset P/L uC]  DEFAULT ((0)),
	[Contribution uC] [float] NOT NULL CONSTRAINT [DF_Tb000_Posicao_Atual_Contribution uC]  DEFAULT ((0)),
	[Delta Quantity] [float] NULL,
	[Volatility] [float] NOT NULL CONSTRAINT [DF_Tb000_Posicao_Atual_Volatility]  DEFAULT ((0)),
	[Vol Flag] [nchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL CONSTRAINT [DF_Tb000_Posicao_Atual_Vol Flag]  DEFAULT (N'  '),
	[Vol Date] [datetime] NOT NULL CONSTRAINT [DF_Tb000_Posicao_Atual_Vol Date]  DEFAULT (((1)/(1))/(1900)),
	[Strike] [float] NULL,
	[Rate Year] [float] NOT NULL CONSTRAINT [DF_Tb000_Posicao_Atual_Rate_Year]  DEFAULT ((0)),
	[Rate Period] [float] NOT NULL CONSTRAINT [DF_Tb000_Posicao_Atual_Rate_Period]  DEFAULT ((0)),
	[Days to Expiration] [int] NOT NULL CONSTRAINT [DF_Tb000_Posicao_Atual_Days to Expiration]  DEFAULT ((0)),
	[Time to Expiration] [float] NOT NULL CONSTRAINT [DF_Tb000_Posicao_Atual_Time to Expiration]  DEFAULT ((0)),
	[Underlying Last] [float] NOT NULL CONSTRAINT [DF_Tb000_Posicao_Atual_Underlying Last]  DEFAULT ((0)),
	[Gamma] [float] NOT NULL CONSTRAINT [DF_Tb000_Posicao_Atual_Gamma]  DEFAULT ((0)),
	[Vega] [float] NOT NULL CONSTRAINT [DF_Tb000_Posicao_Atual_Vega]  DEFAULT ((0)),
	[Theta] [float] NOT NULL CONSTRAINT [DF_Tb000_Posicao_Atual_Theta]  DEFAULT ((0)),
	[Rho] [float] NOT NULL CONSTRAINT [DF_Tb000_Posicao_Atual_Rho]  DEFAULT ((0)),
	[Cash Premium] [float] NULL CONSTRAINT [DF_Tb000_Posicao_Atual_Cash_Premium]  DEFAULT ((0)),
	[Calc Error Flag] [int] NOT NULL CONSTRAINT [DF_Tb000_Posicao_Atual_Calc_Error_Flag]  DEFAULT ((0)),
	[Model Price] [float] NOT NULL CONSTRAINT [DF_Tb000_Posicao_Atual_Model_Price]  DEFAULT ((0)),
	[Gamma Quantity] [float] NOT NULL CONSTRAINT [DF_Tb000_Posicao_Atual_Gamma_Quant]  DEFAULT ((0)),
	[Gamma Cash] [float] NOT NULL CONSTRAINT [DF_Tb000_Posicao_Atual_Gamma_Cash]  DEFAULT ((0)),
	[Gamma/NAV] [float] NOT NULL CONSTRAINT [DF_Tb000_Posicao_Atual_Gamma_NAV_1]  DEFAULT ((0)),
	[Display Close] [float] NOT NULL CONSTRAINT [DF_Tb000_Posicao_Atual_Gamma_NAV]  DEFAULT ((0)),
	[Display Close pC] [float] NOT NULL CONSTRAINT [DF_Tb000_Posicao_Atual_Display_Close_pC]  DEFAULT ((0)),
	[Dif Contrib] [float] NOT NULL CONSTRAINT [DF_Tb000_Posicao_Atual_Last Flag]  DEFAULT ((0)),
	[Price Date] [datetime] NOT NULL CONSTRAINT [DF_Tb000_Posicao_Atual_Price Date]]]  DEFAULT (((1)/(1))/(1900)),
	[Id Instrument] [int] NOT NULL CONSTRAINT [DF_Tb000_Posicao_Atual_Id Instrument]  DEFAULT ((0)),
	[Id Asset Class] [int] NOT NULL CONSTRAINT [DF_Tb000_Posicao_Atual_Id Asset Class]  DEFAULT ((0)),
	[Option Type] [tinyint] NULL CONSTRAINT [DF_Tb000_Posicao_Atual_Option Type]  DEFAULT ((0)),
	[Initial Position] [float] NOT NULL CONSTRAINT [DF_Tb000_Posicao_Atual_Initial Position]  DEFAULT ((0)),
	[Quantity Bought] [float] NOT NULL CONSTRAINT [DF_Tb000_Posicao_Atual_Quantity Bought]  DEFAULT ((0)),
	[Quantity Sold] [float] NOT NULL CONSTRAINT [DF_Tb000_Posicao_Atual_Quantity Sold]  DEFAULT ((0)),
	[Spot USD Close] [float] NOT NULL CONSTRAINT [DF_Tb000_Posicao_Atual_Spot USD1]  DEFAULT ((0)),
	[Spot Close] [float] NOT NULL CONSTRAINT [DF_Tb000_Posicao_Atual_Spot1]  DEFAULT ((0)),
	[Cash uC] [float] NOT NULL CONSTRAINT [DF_Tb000_Posicao_Atual_Cash1]  DEFAULT ((0)),
	[Last pC Admin] [float] NULL CONSTRAINT [DF_Tb000_Posicao_Atual_Last pC1]  DEFAULT ((0)),
	[Close pC Admin] [float] NULL CONSTRAINT [DF_Tb000_Posicao_Atual_Last pC2]  DEFAULT ((0)),
	[Cost Close pC Admin] [float] NULL CONSTRAINT [DF_Tb000_Posicao_Atual_Last pC3]  DEFAULT ((0)),
	[Total P/L Admin] [float] NULL,
	[Realized Admin] [float] NULL,
	[Asset P/L pC Admin] [float] NULL CONSTRAINT [DF_Tb000_Posicao_Atual_Asset P/L pC1]  DEFAULT ((0)),
	[Currency P/L Admin] [float] NULL CONSTRAINT [DF_Tb000_Posicao_Atual_Currency P/L1]  DEFAULT ((0)),
	[Contribution pC Admin] [float] NULL CONSTRAINT [DF_Tb000_Posicao_Atual_Contribution pC1]  DEFAULT ((0)),
	[Last Admin] [float] NULL CONSTRAINT [DF_Tb000_Posicao_Atual_Last pC Admin1]  DEFAULT ((0)),
	[Close Admin] [float] NULL CONSTRAINT [DF_Tb000_Posicao_Atual_Close pC Admin1]  DEFAULT ((0)),
	[Cost Close Admin] [float] NULL CONSTRAINT [DF_Tb000_Posicao_Atual_Cost Close pC Admin1]  DEFAULT ((0)),
	[Id Administrator] [int] NULL,
	[Id Base Underlying] [int] NULL,
	[Base Underlying] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Id Base Underlying Currency] [int] NULL,
	[Base Underlying Currency] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Bid] [float] NULL,
	[Ask] [float] NULL,
	[% to Bid/Ask] [float] NULL,
	[Id Source Last] [int] NULL,
	[Source Last] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Flag Last] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Id Source Last Admin] [int] NULL,
	[Source Last Admin] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Flag Last Admin] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Id Source Close] [int] NULL,
	[Source Close] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Flag Close Admin] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[UpdTime Last] [datetime] NULL,
	[UpdTime last Admin] [datetime] NULL,
	[Asset uC Admin] [float] NULL,
	[Theta/NAV] [float] NULL,
	[Id Source Close Admin] [int] NULL,
	[Source Close Admin] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Prev Cash uC] [float] NULL,
	[Prev Cash uC Admin] [float] NULL,
	[Current NAV pC] [float] NULL,
	[Option Intrinsic] [float] NULL,
	[Option TV] [float] NULL,
	[Option Intrinsic Cash pC] [float] NULL,
	[Option TV Cash pC] [float] NULL,
	[Cash uC Admin] [float] NULL,
	[Underlying Liquidity] [int] NULL,
	[Days to Liquidity] [float] NULL,
	[Duration] [float] NULL,
	[Duration Date] [datetime] NULL,
	[10Y Equiv DNAV] [float] NULL,
	[Asset PL uC Admin] [float] NULL,
	[Delta/Book] [float] NULL,
	[Contribution pC Book] [float] NULL,
	[Long Book] [float] NULL,
	[Short Book] [float] NULL,
	[Gross Book] [float] NULL,
	[CX] [float] NULL,
	[CXBOOK] [float] NULL,
	[Id Book] [int] NULL,
	[Book] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Id Sub Portfolio] [int] NULL,
	[Sub Portfolio] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[New Id Strategy] [int] NULL,
	[New Strategy] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[New Id Sub Strategy] [int] NULL,
	[New Sub Strategy] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Id Section] [int] NULL,
	[Section] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Gross uC] [float] NULL,
	[Position All Portfolios] [float] NULL,
	[Position Ex-FIA] [float] NULL,
	[Book NAV] [float] NULL,
	[Market Cap] [float] NULL,
	[6m Av Volume] [float] NULL,
	[Asset Contribution] [float] NULL,
	[Currency Contribution] [float] NULL,
	[Asset Book Contribution] [float] NULL,
	[Currency Book Contribution] [float] NULL,
	[Prev Asset P/L] [float] NULL,
	[Prev Asset P/L Admin] [float] NULL,
	[Cash FLow] [float] NULL CONSTRAINT [DF_Tb000_Posicao_Atual_Cash FLow]  DEFAULT ((0)),
	[Trade Flow] [float] NULL,
	[Id Account] [int] NULL,
	[Id Ticker Cash] [int] NULL,
	[Strategy %] [float] NULL,
	[Flag Calc Cost] [tinyint] NULL,
	[Flag Calc Last] [tinyint] NULL,
	[Loaned Out] [float] NULL,
	[Loaned In] [float] NULL,
	[Loan Cost] [float] NULL,
	[Foward Cost] [float] NULL,
	[Loaned Rate In] [float] NULL,
	[Loaned Rate Out] [float] NULL,
	[Position D-3] [float] NULL,
	[Net Quantity Loan] [float] NULL,
	[Loan Rate In CBLC] [float] NULL,
	[Loan Rate Out CBLC] [float] NULL,
	[Loan AVG Rate] [float] NULL,
	[Cash Admin] [float] NULL,
	[Loan MKT Total] [float] NULL,
	[Loan Potential Gain] [float] NULL,
	[Loan Potential Book Contribution] [float] NULL,
	[Loan Marginal Gain] [float] NULL,
	[Loan Marginal Book Contribution] [float] NULL,
	[Loan Book Contribution] [float] NULL,
	[Side] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF