<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="SGN.Properties.Settings.NESTDBConnectionString" connectionString="Data Source=NESTSRV01;Initial Catalog=NESTDB;Persist Security Info=True;User ID=sa"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>